@import "variables";

* {
  margin: 0%;
  font-family: "Roboto Slab", serif;
}
html {
  position: relative;
  min-height: 100%;
}
main{
  padding-bottom: 3%;
  
}
.navBar {
  display: flex;
  margin-left: 150px;
}

.fbLogo {
  width: 30px;
  height: auto;
}
.twLogo {
  @extend .fbLogo;
}

.igLogo {
  @extend .fbLogo;
}
.spotifyLogo {
  @extend .fbLogo;
}
.logoBanda img {
  width: 50px;
  height: 50px;
}
.tituloIndex {
  margin-top: 35px;
  text-align: center;
  color: whitesmoke;
}
.parrafoIndex {
  text-align: center;
  color: whitesmoke;
  padding-bottom: 5%;
}

.carousel.slide {
  margin: 0 auto;
  width: 60%;
  height: auto;
  img {
    height: auto;
  }
}

.carosuel-item {
  width: 100%;
}

@media (max-width: 768px) {
  .imgBanda {
    margin: auto;
  }
  .carousel.slide {
    width: 80%;
    height: auto;
  }
  .videitos iframe {
    width: 80%;
    height: 350px;
  }
}

@media (max-width: 468px) {
  .carousel.slide {
    width: 80%;
    height: 150px;
    img {
      height: 150px;
    }
    .mainContact {
      padding-bottom: 0%;
    }
  }
}

.tituloFotitos {
  text-align: center;

  margin-bottom: 30px;
  color: #dddddd;
}

.tituloVideitos {
  color: #dddddd;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}
.videitos {
  padding-bottom: 30px;
}

@mixin bgDeLaPage {
  background-image: url(../Multimedia/BgImageGallery.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}
main {
  @include bgDeLaPage;
}

.bgAbout {
  @include bgDeLaPage;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bgAlbums {
  @include bgDeLaPage;
  padding: 15px;
}
.bgContact {
  @include bgDeLaPage;
  flex-direction: column;
  
}

.btn {
  margin-top: 10px;
}

.titlesMulti {
  display: flex;
  justify-self: center;
  flex-direction: column;
  text-align: center;
  color: #dddddd;
}

.iFramesAlbums1 {
  gap: 0%;
}

.iFramesAlbums2 {
  gap: 0%;
}



@media (max-width: 1200px) {
  .iFrame1 {
    padding: 1% 0;
  }
}

.tituloAbout {
  text-align: center;
  color: whitesmoke;
  font-weight: 500;
}

.pAbout {
  color: whitesmoke;
  font-weight: 500;
}


.formFlex {
  flex-direction: column;
  justify-self: center;
  align-items: center;
  margin-top: 8%;
}

.tituloContact {
  color: whitesmoke;
  margin-top: 3%;
}

.imgContact {
  align-self: center;
  padding: 2% 0;
}

.imgBanda {
  margin: 0 auto;
}

.textoEnXl {
  .textIndex {
    margin: 0 auto;
  }
}

.navbar-nav {
  a {
    color: whitesmoke;
    &:hover {
      color: black;
    }
  }

}

.footerPag {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.mainContact {
  h1{
    color: whitesmoke;
  }
}
